
<div class="row">
    <div class="col">
        <h1>bookface</h1>
    </div>
    <div class="col">
        <p>
          a micro-blogging experience
            <br>See the <a href="posts">read-only version</a> or <a href="users/new">sign up</a> to join.
        </p>
    </div>
</div>
<div>
     <%= image_tag("comm.jpg", :alt => "community") %>
</div>

