
<div class="row">
    <div class="col">
        <h1>bookface</h1>
    </div>
    <div class="col">
        <p>
          a micro-blogging experience
            <br><a href="posts">Read the posts</a> or <a href="users/new">Join Us</a>
        </p>
    </div>
</div>
<%= image_tag("comm.jpg", :alt => "community") %>

