
<div class="row">
    <div class="col">
        <h1>forum</h1>
    </div>
    <div class="col">
        <p>
          a micro-blogging experience
            <br>See the <a href="posts">read-only version</a> or <a href="users/new">sign up</a> to join.
            <br><a href="/login">Login</a> if you are already a member
        </p>
    </div>
</div>
<div class="img-fill">
     <%= image_tag("comm.jpg", :alt => "community") %>
</div>

