
<div class="row">
    <div class="col">
        <h1>bookface</h1>
    </div>
    <div class="col">
        <p>
          a micro-blogging experience
            <br>Take a restricted access <a href="posts">tour</a> or <a href="users/new">Join Us</a>
        </p>
    </div>
</div>

