<div class="container">

<h1>About this site</h1>

<div class="row">
    <div class="col">
        <p>
            This site was put together using Ruby-on-Rails in a few days,
            after first learning about Ruby and Ruby frameworks over the course of about two weeks 
            as an assigment with the New York Code & Design Academy. 
            I have had prior knowledge of front-end development (JavaScript, CSS, etc.) but no knowledge of Rails and very little knowledge of Ruby.
            I can bring the same kind of skills, persistence, and abilities to learn new things quickly to you or your company as well.
            If you are intereted in hiring me, please contact me through <a href="https://www.linkedin.com/in/dan-mulvihill-4a45654">Linked-in</a>
        </p>
    </div>
    <div class="col">
        <%= image_tag("comm-500.jpg", :alt => "community") %>
    </div>
</div>

</div>
